.centerbox {
  /* flexbox, por favor */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
}

body, html { width: 100%; height: 100%; padding: 0; margin: 0; }

canvas {
  /* border-radius: 30px;  Border radiuses don't seem to work with putImageData */
  box-shadow: 0 0 10px #777;
  width: 1024px;
  height: 768px;
}

body {
  background-color: #eee;
}

.sidebar {
  height: 100%;
  width: 18%; 
  position: fixed;
  z-index: 1;
  background-color: #ddd; 
  padding-top: 20px;
  margin-left: 0px;
}
